.default-btn {
    display:inline-block;
    border:2px solid #0099e5;
    background:#0099e5;
    padding: 9px 25px 6px;
    margin-bottom: .85em;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight:500;
    color:#fff;
    transition: all .3s ease;
    text-transform: uppercase;
    &:hover {
        background:transparent;
        color:#0099e5;
        transition: all .3s ease;
        font-weight:600;
        text-decoration: none;
    }
    &:focus {
        box-shadow: 0 0 0 0.4rem rgba(0,123,255,.4);
    }
    &:first-child {
        margin-right:20px;
    }
}

//intro
.intro {
    padding-bottom: 100px;
    overflow: hidden;
}
.intro__left {
    padding: 100px 0;
}
.intro__sub,
.intro__about,
.intro__title {
    z-index: 2;
    position: relative;
}
.intro__title {
    font-size: 56px;
    font-weight: 900;
    margin-bottom: 25px;
}
.intro__about {
    color: #777;
    font-size: 17px;
    letter-spacing: .02em;
    margin: 0;
}
.ui-line-decore {
    display: block;
    margin-top: -30px;
    margin-bottom: 10px;
    line-height: 1;
    z-index: 2;
    position: relative;
    &:after {
        display: inline-block;
        width: 2px;
        height: 100px;
        content: '';
        background-color: #333;
    }
}
.btn-default {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #333;
    border-bottom: 1px solid transparent;
    &:hover {
        border-bottom-color: #333;
        text-decoration: none;
    }
}
.default--hover {
    position: relative;
    overflow: hidden;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 100%;
        content: '';
        transform: skewX(-50deg);
        background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2em 0;
        background-size: 2em 100%;
    }
    &:hover {
        &:after {
            transition: 1s linear;
            background-position: 150% 0;
        }
    }
}
.ui-decor {
    position: relative;
    font-weight: 700;
    font-style: normal;
    margin-left: 15px;
    &:after {
        content: 'x';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 10px;
        color: #777;
    }
}
.intro__right {
    z-index: 2;
    position: relative;
}
.intro__photo {
    overflow: hidden;
    img {
        display: block;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 25px;
        border-radius: 5px;
        box-shadow: 0px 10px 15px rgba(35,32,39,0.5);
        filter: contrast(.75);
    }
}

//services
.services {
    z-index:5;
    background:#fff;
    position:relative;
    padding-bottom: 100px;
    .services-item {
        overflow: hidden;
        position:relative;
        padding:30px 0;
        padding-left: 15px;
        padding-right: 50px;
        z-index:5;
        background:#fff;
        cursor: default;
        &:nth-child(even) {
            padding-left: 50px;
            padding-right: 15px;
            .services-icon {
                justify-content: flex-start;
                img {
                    margin-left: -5px;
                    margin-right: 0;
                }
            }
            .services-name {
                text-align: left;
            }
            .services-description {
                text-align: left;
                margin-right: auto;
                margin-left: 0;
            }
        }
    }
}
.services-icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    img {
        max-height: 70px;
        width: auto;
        margin-right: -5px;
    }
}
.services-name {
    font-size:18px;
    font-weight: 700;
    text-transform: uppercase;
    color:#333;
    text-align: right;
    margin-bottom: 20px;
}
.services-description {
    font-size:16px;
    max-width:400px;
    margin-left: auto;
    color:#6f6f6f;
    text-align: right;
}

//home works
.home-works__row {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	.el-col {
		margin-bottom: 30px;
	}
}
.home-works__link {
	display: block;
	height: 100%;
	padding-bottom: 65%;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 10px;
	img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		max-width: 100%;
		min-height: 100%;
		object-fit: cover;
		object-position: top;
		filter: grayscale(0.4);
		transform: scale(1);
		transition: all .4s;
	}
	&:hover {
		img {
			filter: grayscale(0);
		}
	}
}
.home-works__how-to {
	height: 100%;
	padding: 20px 0;
	h4 {
		font-size: 20px;
		margin: 0;
		margin-bottom: 20px;
	}
	p {
		font-size: 16px;
		color: #777;
	}
}
.home-works__right {
	display: flex;
	flex-direction: column;
	text-align: right;
	padding-top: 100px;
	height: 100%;
	& > span {
		display: inline-block;
		padding: 7px 0;
	}
}
.home-works__button {
	.ui-line-decore {
		margin-top: 60px;
	}
	.ui-decor {
		margin-right: 5px;
	}
}

//phases
.phases {
    margin-bottom: 100px;
    overflow: hidden;
}
.phases__row {
	position: relative;
}
.phases__item {
	position: relative;
	padding-top: 110px;
}
.phases__caption {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 17px;
	text-transform: uppercase;
	&:after {
		content: '';
		position: absolute;
		bottom: -36px;
		left: 20px;
		width: 15px;
		height: 15px;
		background: #ddd;
		border-radius: 50%;
		z-index: 1;
	}
	.ui-decor {
		margin-left: 30px;
		&:after {
			font-size: 13px;
			font-weight: 300;
		}
	}
}
.phases__text {
	font-size: 24px;
	color: #777;
	font-weight: 300;
	padding-right: 26px;
}
.phases__ui-line {
	position: absolute;
	top: 80px;
	left: 30px;
	width: 2000px;
	background: #eee;
	height: 1px;
}

.blog-swiper {
    position: relative;
    padding-top: 110px;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 160px;
        left: -3000px;
        right: -3000px;
        background: #f7f7f7;
    }
    .blog__item {
        padding-bottom: 0;
        background: transparent;
    }
    .blog__decore  {
        i {
            &:after {
                font-size: 16px;
            }
        }
    }
    .blog__date--number {
        font-weight: 700;
    }
    .blog__image {
        a {
            display: block;
            width: 100%;
            overflow: hidden;
            height: 0;
            padding-bottom: 50%;
            position: relative;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            max-height: 700px;
        }
    }
    .blog__swiper-link {
        font-size: 13px;
        .text {
            border-bottom: 1px solid transparent;
        }
        &:hover {
            border-bottom: 1px solid transparent;
            .text {
                border-bottom-color: #000;;
            }
        }
        .ui-line-decore {
            margin-bottom: 20px;
            &:after {
                height: 120px;
            }
        }
    }
    .blog__title {
        h2 {
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            &:after {
                display: none;
            }
        }
    }
    .blog__teaser {
        margin-bottom: 100px;
        p {
            max-height: 66px;
            min-height: 66px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
    }
}




//responsive
@media screen and (max-width:1300px) {
    .about-text-block {
        padding:50px 30px;
    }
}

@media screen and (max-width:991px) {
    .intro__row {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .intro__right-col {
        position: absolute;
        top: 0;
        bottom: 110px;
        z-index: 1;
    }
    .intro__left {
        padding: 80px 0;
        text-align: center;
    }
    .intro__right {
        height: 100%;
    }
    .intro__photo {
        overflow: hidden;
        margin-left: -30px;
        margin-right: -30px;
        height: 100%;
        img {
            margin: 0;
            width: 100%;
            max-width: 100%;
            opacity: 0.2;
        }
    }
    .intro__about {
        color: #333;  
        text-align: left; 
    }
    .intro__button {
        text-align: center;
    }
    
    .services {
        .services-item {
            padding: 15px 0;
            padding-left: 0;
            padding-right: 30px;
            &:nth-child(even) {
                padding-left: 30px;
                padding-right: 0;
            }
        }
    }

    .home-works__row.top {
        flex-direction: column;
    }
    .home-works__col {
        width: 100%;
        &:nth-child(2) {
            display: none;
        }
    }
    .home-works__right {
        & > span {
            display: none;
        }
    }
    .phases__text {
        font-size: 20px;
        padding-right: 15px;
    }

    .blog-swiper {
        .blog__main {
            padding-right: 0;
        }
        .blog__teaser {
            margin-bottom: 30px;
        }
    }
    .blog__swiper-link {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    .intro__photo {
        margin-left: -15px;
        margin-right: -15px;
    }
    .services {
        .services-item {
            padding: 15px 0;
            &:nth-child(even) {
                padding: 15px 0;
                .services-icon {
                    justify-content: center;
                }
                .services-name {
                    text-align: center;
                }
                .services-description {
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
    }
    .services-icon {
        justify-content: center;
    }
    .services-name {
        text-align: center;
    }
    .services-description {
        text-align: center;
        margin: 0 auto;
    }
    .home-works__row:not(.top) {
        .el-col {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .phases {
        padding: 0;
    }
    .phases__item {
        padding-bottom: 30px;
        text-align: center;
    }
    .phases__caption {
        right: 0;
        &:after {
            left: 50%;
            transform: translateX(-50%);
        }
        .ui-decor {
            margin-left: 5px;
        }
    }
    .phases__text {
        font-size: 20px;
        padding-right: 0;
    }
    .phases__ui-line {
        display: none;
    }
}
@media screen and (min-width:550px) {
    .blog-swiper {
        .blog__data-item {
            i {
                display: none;
            }
        }
    }
}
@media screen and (max-width:550px) {
    .intro__left  {
        padding: 50px 0;
    }
    .intro__sub  {
        font-size: 13px;
    }
    .intro__title {
        font-size: 44px;
        line-height: 1.1;
    }
    .intro__about {
        font-size: 15px;
    }

    .services-item {
        &:first-child {
            padding-top: 0;
        }
        .row {
            top:0;
        }
    }
    .services-icon {
        margin-bottom: 15px;
    }
    .services-name  {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .services-description {
        opacity: 1;
        font-size: 14px;
    }

    .home-works {
        padding-bottom: 0;
    }
    .home-works__how-to {
        p {
            font-size: 14px;
        }
    }

    .phases__col {
        width: 100%;
        .ui-decor {
            display: none;
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid #eee;
        }
    }
    .phases__item {
        padding-top: 80px;
    }
    .phases__caption {
        font-size: 16px;
        &:after {
            bottom: -20px;
        }
    }
    .phases__text {
        font-size: 16px;
    }


    .blog-swiper {
        .blog__item {
            padding-left: 0;
            padding-top: 42px;
        }
        .blog__data  {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
        }
        .blog__date {
            margin-bottom: 0;
            margin-right: auto;
        }
        .blog__decore {
            display: none;
        }
        .blog__data-item {
            display: flex;
            align-items: center;
            margin-left: 20px;
            .text {
                display: none;
            }
            i {
                display: inline-block;
                font-size: 16px;
            }
            .counter {
                display: inline-block;
                margin-left: 10px;
                margin-top: 3px;
                font-weight: 400;
                font-size: 14px;
            }
        }
        .blog__date--number {
            font-size: 38px;
        }
        .blog__title {
            h2 {
                font-size: 16px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
        }
        .blog__teaser {
            p {
                font-size: 14px;
                max-height: 55px;
                min-height: 55px;
            }
        }
    }
}
@media screen and (max-width:400px) {
    .intro__left {
        text-align: left;
    }
    .intro__photo {
        img {
            box-shadow: none;
            filter: none;
            width: auto;
            max-width: 500px;
            min-height: 100%;
        }
    }
}
